<!doctype html>
<html>
	<head>
		<title>{% block title %} Ad-duyuun {% endblock %}</title>
	</head>
	<body>
		<header>
			<nav>
				<h1>Ad-duyuun</h1>
				<ul>
					<li><a href="{{ url_for ('index') }}">Home</a></li>
					<li><a href="{{ url_for ('login') }}">Login</a></li>
					<li><a href="{{ url_for ('register') }}">Register</a></li>
				</ul>
			</nav>
		</header>
		<main>
			{% block content %}{% endblock %}
		</main>
		<footer>
			<p>&copy; 2024 Ad-duyuun. All rights reserved.</p>
		</footer>
	</body>
</html>
