{% extends "base.html" %}

{% block title %}Home - Ad-duyuun{% endblock %}
{% block content %}
<section class="introduction">
	<h2>Assalam Alaykum Warahmatullah Wabarakaatuh</h2>
	<h2>Why Ad-duyuun?</h2>
	<p>Al-Nasaa'i (4605) narrated that Muhammad ibn Jahsh (may Allah be pleased with him) said: We were sitting with the Messenger of Allah (peace and blessings of Allah be upon him) when he raised his head towards the sky, then he put his palm on his forehead and said: "Subhaan-Allah! What a strict issue has been revealed to me!" We remained silent and were afraid. The following morning I asked him, "O messenger of Allah, what is this strict issue that has been revealed?" He said, "By the One in whose hand is my soul, if a man were killed in battle for the sake of Allah, then brought back to life, then jilled and brought back to life again, then killed, and he owed a debt, he would not enter Paradise until his debt was paid off." Classed as hassan by al-Albaani in Saheeh al-Nasaa'i, 4367.</p>
	<p>Every night, you and I take a great risk - death. And, as muslims, we know we are not promised the next day. So, if death happens to us, how do we go about our undocumented debts or documented of which whereabouts is only known to us?</p>
	<p>Ad-duyuun was conceived to make sure your paradise is not jeopardised due to debts after the inevitable event of death.</p>
</section>
<section class="features">
	<h2>Features</h2>
	<ul>
		<li>Track debts and creditors</li>
		<li>Notify loved ones of outstanding debts</li>
		<li>Secure and Easy to use</li>
	</ul>
	<a class="cta-button" href="/login">Login</a> <a class="cta-button" href="/register">Register</a>
</section>
{% endblock %}
